extends base

block css 
    link(rel="stylesheet" href="/styles/home.css")
block breadcrumb
    ul.breadcrumb
        li
            a(href="/") Home
        li Post-Detail      
block base-content
    div.container-fluid
        div.row.w-100
            div.col-sm-12.col-md-8            
                div.post.border.rounded.p-2
                    h1.title #{title}
                    div.avatar.d-flex
                        img.me-2.p-1.border.rounded-circle(src="/images/avatar.jpeg" alt="avatar" width="50" loading="lazy" height="50"  )
                        div.d-flex.flex-column
                            span.author Nishu kumar
                            span.time 20 Mar 2022
                    hr.py-1
                    h4.subtitle #{subtitle}
                    each section in sections
                        if(section.image)
                            div.post-image.d-flex.pb-2
                                img.img-fluid(src=section.image alt="post-image" loading="lazy")
                        if(section.paragraph)
                            p.paragraph #{section.paragraph}
                        if(section.video)
                            div.video-container(contextmenu="false")
                                video.img-fluid.w-100(controls preload="metadata")
                                    source(src=section.video type="video/mp4")
                        if(section.audio)
                            div.audio-container.container-fluid
                                audio.w-100(controls)
                                    source(src=section.audio)
                        if(section.embed)
                            div.embed-container.container-fluid !{section.embed}
            div.col-sm-12.col-md-4
                div.container.text-center.fs-6.bg-dark.text-light.rounded Latest Posts
                include partials/post.pug 
                include partials/post.pug 